dependency-reduced-pom.xml
**/target/**
**/*.class
**/*.jar
**/*.so
**/*.dylib
database
lib

.DS_Store
*.autosave
*.jar
*.class
*.lst

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
pathmind-lib

.venv/
venv/
.pyenv/
